<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
</head>
<body class="mdui-theme-primary-blue mdui-theme-accent-lime">

<div style="margin-left:20px;margin-right:20px">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-typo-title">Chat Room</span>
        <div class="mdui-toolbar-spacer"></div>
        <a class="mdui-btn mdui-btn-icon" id="logout" th:href="@{/}">
            <i class="mdui-icon material-icons">exit_to_app</i>
        </a>
    </div>
</div>

<div style="margin-left:20px;margin-right:20px">
    <div class="mdui-row mdui--text-center" style="margin-left:20px;margin-right:20px">
        <div class="mdui-col-xs-12 mdui-col-sm-12">
            <div class="mdui-textfield-floating-label" style="margin-top:15px">
                <i class="mdui-icon">Welcome：</i>
                <i class="mdui-icon" id="username" th:text="${username}"></i>
            </div>
        </div>
    </div>
    <div class="mdui-row">
        <div class="mdui-col-xs-12 mdui-col-sm-6">
            <div class="mdui-col-xs-12 mdui-col-sm-10">
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-10">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <i class="mdui-icon material-icons">textsms</i>
                    <label class="mdui-textfield-label">Send Text</label>
                    <input class="mdui-textfield-input" id="msg" />
                </div>
                <div class="mdui-container" style="padding:20px 35px">
                    <button id="sendBtn" class="mdui-btn mdui-color-theme mdui-ripple"
                            onclick="sendMsgToServer()">Send
                    </button>
                    <button class="mdui-btn mdui-color-theme mdui-ripple"
                            onclick="clearMsg()">Clear
                    </button>
                </div>
            </div>
        </div>

        <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">&#xe420;</i></span>
            <span class="mdui-chip-title">Content</span>
        </div>

        <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">face</i></span>
            <span>Online Users</span>
            <span class="chat-num" />
        </div>
        <div class="message-container">
        </div>

    </div>

    <script th:inline="javascript">

    /**
     * WebSocket Client
     *
     * 1、WebSocket client receive messages with callback. example：webSocket.onmessage
     * 2、WebSocket client send message to server. example：webSocket.send();
     */

    function getWebSocket() {

    <!--        var webSocket = new WebSocket(/*[[${webSocketUrl}]]*/ 'ws://localhost:8080/chat');-->
        var username =/*[[${username}]]*/;
        console.log(username);
        var webSocket = new WebSocket('ws://localhost:8080/chat/'+username);

        webSocket.onopen = function (event) {
            console.log('WebSocket open connection');
        };


        webSocket.onmessage = function (event) {
            console.log('WebSocket Receives：%c' + event.data, 'color:blue');
            var message = JSON.parse(event.data) || {};
            var $messageContainer = $('.message-container');
            if (message.type === 'CHAT') {
                $messageContainer.append(
                    '<div class="mdui-card" style="margin: 2px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' + message.username + " wrote：" + message.content + '</div>' +
                    '</div></div>');
            }else if (message.type == 'ENTER')
            {
                $messageContainer.append(
                    '<div class="mdui-card" style="margin: 2px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' + message.username + " joined the chat." +'</div>' +
                    '</div></div>');
            }else if (message.type== 'LEAVE') {
                $messageContainer.append(
                    '<div class="mdui-card" style="margin: 2px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' +message.username + "has left this chat." +'</div>' +
                    '</div></div>');
            }
            $('.chat-num').text(message.onlineCount);
            var $cards = $messageContainer.children('.mdui-card:visible').toArray();
            if ($cards.length > 5) {
                $cards.forEach(function (item, index) {
                    index < $cards.length - 5 && $(item).slideUp('fast');
                });
            }
        };

       //Close connection
        webSocket.onclose = function (event) {
            console.log('WebSocket close connection.');
        };

       //Exception
        webSocket.onerror = function (event) {
            console.log('WebSocket exception.');
        };
        return webSocket;
    }

    var webSocket = getWebSocket();


    function sendMsgToServer() {
        var $message = $('#msg');
        if ($message.val()) {
            webSocket.send(JSON.stringify({username: $('#username').text(), content: $message.val()}));
            $message.val(null);
        }
        console.log( "Message sent to server via websocket");
    }

    //clear screen
    function clearMsg() {
        $(".message-container").empty();
    }

    //enter to send message
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && sendMsgToServer();
    };

        </script>

    </body>
</html>


